.admin-therapy-list{
    margin: 20px;
    padding: 20px;
    border: 0.8px solid #ccc;
    border-radius: 5px;
}

.admin-therapy-add{
    margin: 20px;
    padding: 20px;
    border: 0.8px solid #ccc;
    border-radius: 5px;
}